.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }

  h1{
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .top_img{
    position:relative;
  }

  .top_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    position: absolute;
    top: 35%;
    left: 42%;
  }

  body{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
      font-size: 20px;
      background:rgb(215, 215, 215);
      background-position: 50% 50%;
      background-size: cover;
      -webkit-appearance: none;
      -webkit-text-size-adjust: 100%;
      padding: 0;
      margin: 0;
  }

  .top_massage{
    text-align: center;
    margin-top: -40px;
    padding-left: 20%;
    padding-right: 20%;
    height: 350px;
    vertical-align: middle;
    background-image: url(massage.jpg);
    color: white;
  }

  .midasi{
    padding-top: 75px;
    font-size: 30px;
  }

  .about{
    margin-top: 75px;
    border-bottom: solid 2px black;
    width: 750px;
    display: inline-block;
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
    height: 100px;
  }
  
  .aboutcontent1{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
  }

  .syokaiimg1{
    width: 55vw;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .syokaibun1{
    margin-top: 20vh;
    background: white;
    width: 45vw;
    height: 80vh;
    margin-bottom: 0;
  }

  .siro1{
    width: 55vw;
    height: 20vh;
    margin-left: 45vw;
    background: white;
  }

  .aboutcontent2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 50px;
  }

  .syokaiimg2{
    width: 55vw;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .syokaibun2{
    margin-top: 20vh;
    background: white;
    width: 45vw;
    height: 80vh;
    margin-bottom: 0;
  }

  .siro2{
    width: 55vw;
    height: 20vh;
    background: white;
  }
  

  .hello_top{
    margin-top: 75px;
    border-bottom: solid 2px black;
    width: 750px;
    text-align: left;
    margin-left: 50px;
    font-size: 30px;
    height: 60px;
  }
  
  .hellocontent{
    margin-right: 200px;
    height: 200px;
    padding-left: 20px;
  }

  .hello{
    background-color: white;
    margin-left: 80px;
    padding-bottom: 20px;
  }

  .position_top{
    margin-top: 75px;
    border-bottom: solid 2px black;
    width: 750px;
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
    height: 60px;
  }
  
  .positioncontent{
    margin-left: 100px;
    margin-right: 450px;
    text-align: center;
  }

  .position{
    background-color: white;
    margin-right: 300px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

header {
    padding: 16px;
    background: rgba(31,44,55,0.5);
    position: fixed;
    z-index: 500;
    width: 100%;
  }
  
  .h-menu{
    position: relative;
  }
  
  /*inputのcheckboxは非表示に*/
  .h-menuCheckbox {
    display:none;
  }
  
  /*ハンバーガーメニュー*/
  .h-menu_icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
  }
  
  /*3本線*/
  .hamburger-icon, .hamburger-icon::before, .hamburger-icon::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 100;
      top:0;
      bottom:0;
      width: 32px;
      height: 3px;
      background: white;
      cursor: pointer;
  }
  .hamburger-icon:before {
      top: 10px;
  }
  .hamburger-icon:after {
      top: 20px;
  }
  
  /*メニュー以外を暗くする*/
  #h-menu_black {
      display: none;
      position: fixed;
      z-index: 98;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .7s ease-in-out;
  }
  
  /*中身*/
  #h-menu_content {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
      width: 100%;
      max-width: 320px;
      height: 100vh;
      padding: 53px 16px 16px;
      background: #1f2c37;
      overflow: auto;
      transition: .3s ease-in-out;
      -webkit-transform: translateX(-105%);
      transform: translateX(-105%);
  }
  
  /*チェックボックスにチェックが入ったら表示*/
  input:checked ~ .h-menu_icon .hamburger-icon{
      background: transparent;
      height: 30px;
  }
  input:checked ~ .h-menu_icon .hamburger-icon::before{
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top:10px;
      z-index:999;
  }
  input:checked ~ .h-menu_icon .hamburger-icon::after{
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top:10px;
      z-index:999;
  }
  input:checked ~ #h-menu_black {
      display: block;
      opacity: .8;
  }
  #h-menu_checkbox:checked ~ #h-menu_content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  .h-menu_icon .hamburger-icon,
  .h-menu_icon .hamburger-icon::before,
  .h-menu_icon .hamburger-icon::after,
  #h-menu_black,
  #h-menu_content{
      -webkit-transition: all .3s;
      transition: all .3s;
  }
  
  #h-menu_content ul{
      list-style: none;
      margin: 0;
      padding: 0;
  }
  #h-menu_content ul li{
      border-bottom: solid 1px white;
  }
  #h-menu_content li a {
      display: block;
      color: white;
      font-size: 14px;
      padding: 24px;
      text-decoration: none;
      transition-duration: 0.2s;
  }
  #h-menu_content li a:hover {
      background: #455b6d;
  }

  footer{
    text-align: center;
    padding: 20px 0;
    background-color: rgb(49, 49, 49);
    height: 160px;
    width: 100%;
    bottom: 0; /*下に固定*/
}
footer p{
    color: white;
    font-size: 10px;
}
