.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }

  h1{
    color: white;
    position: absolute;
    top: 0%;
    left: 0%;
  }

  .top_img{
    position:relative;
  }

  .top_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    position: absolute;
    top: 35%;
    left: 42%;
  }

  body{
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
      font-size: 20px;
      background:rgb(215, 215, 215);
      background-position: 50% 50%;
      background-size: cover;
      -webkit-appearance: none;
      -webkit-text-size-adjust: 100%;
      padding: 0;
      margin: 0;
  }

  .top_massage{
    text-align: center;
    margin-top: -40px;
    padding-left: 20%;
    padding-right: 20%;
    height: 350px;
    vertical-align: middle;
    background-image: url(massage.jpg);
    color: white;
  }

  .midasi{
    padding-top: 75px;
    font-size: 30px;
  }

  .about{
    margin-top: 75px;
    border-bottom: solid 2px black;
    width: 750px;
    display: inline-block;
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
    height: 100px;
  }
  
  .aboutcontent1{
    display: flex;
    flex-wrap: nowrap;
    margin-top: 50px;
  }

  .syokaiimg1{
    width: 55vw;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .syokaibun1{
    margin-top: 20vh;
    background: white;
    width: 45vw;
    height: 80vh;
    margin-bottom: 0;
  }

  .siro1{
    width: 55vw;
    height: 20vh;
    margin-left: 45vw;
    background: white;
  }

  .aboutcontent2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 50px;
  }

  .syokaiimg2{
    width: 55vw;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
  }

  .syokaibun2{
    margin-top: 20vh;
    background: white;
    width: 45vw;
    height: 80vh;
    margin-bottom: 0;
  }

  .siro2{
    width: 55vw;
    height: 20vh;
    background: white;
  }
  

  .hello_top{
    margin-top: 75px;
    border-bottom: solid 2px black;
    width: 750px;
    text-align: left;
    margin-left: 50px;
    font-size: 30px;
    height: 60px;
  }
  
  .hellocontent{
    margin-right: 200px;
    height: 200px;
    padding-left: 20px;
  }

  .hello{
    background-color: white;
    margin-left: 80px;
    padding-bottom: 20px;
  }

  .position_top{
    margin-top: 75px;
    border-bottom: solid 2px black;
    width: 750px;
    text-align: left;
    margin-left: 150px;
    font-size: 30px;
    height: 60px;
  }
  
  .positioncontent{
    margin-left: 100px;
    margin-right: 450px;
    text-align: center;
  }

  .position{
    background-color: white;
    margin-right: 300px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  footer{
    text-align: center;
    padding: 20px 0;
    background-color: rgb(49, 49, 49);
    height: 160px;
    width: 100%;
    bottom: 0; /*下に固定*/
}
footer p{
    color: white;
    font-size: 10px;
}
